/*
Colours:
Text: #180800
background: #ffeee7
hover: #ffceb9
*/
body{
	background-color: #ffeee7;
	margin-top: 20px;
}
span.titleText{
	color: #180800;
	margin-top: 5px;
	float: right;
	font-weight: bold;
}
span.versionText{
	font-style: italic;
}
span.boldText{
	font-weight: bold;
}
div.bodyText{
	color: #180800;
	margin-top: 25px;
	clear: both;
}
a{
	color: #180800;
	font-weight: bold;
}