body{
	background-color: lightblue;
}
h1{
	color: navy;
}
.test {
	background-color: yellow;
}
/* Selects all table rows except ones with the class "headings" */
tr:hover:not(.headings){
	background-color: yellow;
}