body{
	background-color: lightblue;
}
h1{
	color: navy;
}
table{
	width: 100%;
}
th, td:not(.inner){
	border-bottom: 1px solid #555;
	text-align: center;
}
/* Selects all table rows except ones with the class "headings" */
tr:hover:not(.headings){
	background-color: #7BA6B4;
}