/*
Colours:
Text: #180800
background: #ffeee7
hover: #ffceb9
*/
body{
	background-color: #ffeee7;
	margin-top: 15px;
	margin-left: 25px;
}
input[type='text']{
	background-color: #ffceb9;
	margin-right: 3px;
	margin-bottom: 5px;
}
span.titleText{
	color: #180800;
	font-size: 10px;
	margin-top: 3px;
	/*margin-bottom: 5px;*/
	float: right;
}
span.versionText{
	font-style: italic;
}
span.inputText{
	color: #180800;
	font-size: 15px;
	font-weight: bold;
	margin-right: 2px;
	margin-left: 2px;
	/*margin-bottom: 2px;*/
}
span.spacer{
	margin-right: 11px;
}
#formDiv{
	display: inline-block;
	text-align: center;
}
#addSubmitButton{
	margin-top: 8px;
}